{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
    历史操作
{% endblock %}
{% block topbar_title %}
历史操作
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <p>
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">历史记录</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>用户名</th>
                            <th>操作</th>
                        </tr>
                        </tfoot>
                        <tbody id="t_body">
                        {% for h in all_users %}
                            <tr>
                                <td>{{ h.username }}</td>
                                <td>
                                    <a href="{% url 'aLL_history_record' h.username %}">
                                        <button type="button" class="btn btn-warning">查看</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}