{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
    用户管理
{% endblock %}
{% block topbar_title %}
    用户管理
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        {% if request.user.permission == "superadmin" or request.user.permission == "admin" %}
            <div style="text-align:right;">
                <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-success">新增管理员</button>
                </a>
            </div>
        {% endif %}
        <p></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">用户列表</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>权限</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>用户名</th>
                            <th>权限</th>
                            <th>操作</th>
                        </tr>
                        </tfoot>
                        <tbody id="t_body">
                        {% for user in all_users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.get_permission_display }}</td>
                                <td>
                                    {% if  request.user.username != user.username and request.user.permission != user.permission %}
                                        {% if request.user.permission == "superadmin" or request.user.permission == "admin" %}
                                            <a href="{% url 'change_permission' user.id %}">
                                                <button type="button" class="btn btn-warning">修改</button>
                                            </a>
                                        {% endif %}
                                        &nbsp;
                                        <button type="button" class="btn btn-danger"
                                                onclick="return deluser({{ user.id }})">删除
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                onclick="return resetuser({{ user.id }}, '{{ user.username }}')">重置密码
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>
        function deluser(user_id) {
            var msg = "删除此用户将会无法恢复\n\n您真的确定要删除吗？";
            if (confirm(msg) === true) {
                if (user_id === undefined) {
                    return false
                }
                $.ajax({
                    cache: false,
                    type: "POST",
                    dataType: 'json',
                    url: "{% url 'del_user' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "user_id": user_id
                    },
                    async: true,
                    success: function (data) {
                        if (data.status === 'success') {
                            alert('删除成功');
                            location.reload();
                        } else {
                            alert(data.quanxianbuzu);
                            location.reload();
                        }

                    }
                });
                return true;
            }
        }

        function resetuser(user_id, username) {
            var msg = "确认是否需要重置" + username + "的密码为123456";
            if (confirm(msg) === true) {
                if (user_id === undefined) {
                    return false
                }
                $.ajax({
                    cache: false,
                    type: "POST",
                    dataType: 'json',
                    url: "{% url 'reset_password' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "user_id": user_id
                    },
                    async: true,
                    success: function (data) {
                        if (data.status === 'success') {
                            alert(data.msg);
                            location.reload();
                        } else {
                            alert(data.msg);
                            window.location.replace("{% url 'user_info' %}")
                        }

                    }
                });
                return true;
            }
        }
    </script>
{% endblock %}