<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>水文在线监测管理系统 - 修改密码</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
{#                        <div class="col-lg-6 d-none d-lg-block"#}
{#                             style="background: url({% static 'images/test.png' %});background-position: center;background-size: cover;"></div>#}
                        <div class="col-lg-6 d-none d-lg-block" align="center" style="padding-top: 80px;" >
                            <img src="{% static 'images/test3.png' %}" style="width: 300px; height: 300px;" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
{#                                    <img src="{% static 'images/favicon.ico' %}" alt="">#}
                                    <h1 class="h4 text-gray-900 mb-2">水文在线监测管理系统</h1>
                                    <p class="mb-4">如果您忘记原密码，请联系管理员重置您的密码！</p>
                                </div>
                                <form class="user" method="post">
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleInputEmail" name="old_password" placeholder="请输入原密码...">
                                        <div style="color: red">
                                            {% for key,error in password_form.errors.items %}{% if key == 'old_password' %}
                                                {{ error }}{% endif %}
                                            {% endfor %}</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleInputEmail" name="password1" placeholder="请输入密码...">
                                        <div style="color: red">
                                            {% for key,error in password_form.errors.items %}{% if key == 'password1' %}
                                                {{ error }}{% endif %}
                                            {% endfor %}</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleInputEmail" name="password2" placeholder="请再次输入密码...">
                                        <div style="color: red">
                                            {% for key,error in password_form.errors.items %}{% if key == 'password2' %}
                                                {{ error }}{% endif %}
                                            {% endfor %}</div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="修改密码">
                                    {% csrf_token %}
                                </form>
                                <hr>
                                <div style="color: red">{% if msg %}{{ msg }}
                                <hr>{% endif %}</div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">立即登录</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'index' %}">返回首页</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
