{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
公司新增
{% endblock %}
{% block topbar_title %}
公司新增
{% endblock %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'css/jquery-editable-select.css' %}">
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block head_scripts %}
<script src="{% static 'polyfill.js' %}"></script>
<script src="{% static 'cascader.js' %}"></script>
{% endblock %}

{% block page_content %}
<div class="container-fluid" style="font-size:14px">

    <!-- Page Heading -->
{#    <h2>#}
{#        <small>新增</small>#}
{#    </h2>#}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
        <li class="breadcrumb-item"><a href="{% url 'company_info' %}">公司管理</a></li>
        <li class="breadcrumb-item active">新增公司</li>
    </ol>
    <form class="form-horizontal form-label-left" id="device_info_form">

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">公司名称 *</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <input type="text" class="form-control" name="company_name" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">联系人 *</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <input type="text" class="form-control" name="contact" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">联系电话 *</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <input type="text" class="form-control" name="phone" value="">
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="button" id="device_info_button" class="btn btn-primary">确定</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block other_js %}
<script src="{% static 'js/jquery-editable-select.js' %}"></script>
<script src="{% static 'laydate/laydate.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script>
    $('#device_info_button').on('click', function () {
        $.ajax({
            cache: false,
            type: 'post',
            dataType: 'json',
            url: "{% url 'company_add' %}",
            data: $("#device_info_form").serialize(),
            async: true,
            success: function (data) {
                if (data.status === "success") {
                    alert('添加成功');
                    window.location.replace("{% url 'company_info' %}")
                } else {
                    alert(data.errors)
                }
            }
        })
    })
</script>
{% endblock %}