{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
    流量信息
{% endblock %}
{% block topbar_title %}
    流量信息
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .input-card .btn {
            margin-right: 1.2rem;
            width: 9rem;
        }

        .input-card .btn-sm {
            margin-right: 1.2rem;
            width: 3.5rem;
        }

        .input-card .btn:last-child {
            margin-right: 0;
        }
    </style>
    <style>
        body, td {
            font-size: 12px !important
        }

        th, td {
            white-space: normal;
        }

        thead > tr > th {
            white-space: nowrap;
        }

        .btn {
            white-space: nowrap;
            line-height: 1;
            font-size: 12px !important;
        }
    </style>
{% endblock %}

{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:13px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item active">流量信息</li>
        </ol>
        <!-- Page Heading -->

        <div id="div_content">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="alert" style="display: none;"></div>
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                            <tr>
                                <th>仪器名称</th>
                                <th>时间</th>
                                <th>平均流速(m/s)</th>
                                <th>平均流向(° )</th>
                                <th>水位(m)</th>
                                <th>流量(m³/s)</th>
                                <th>面积(㎡)</th>
                                <th>电压(V)</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="t_body">
                            {#                            {% for d in data_info %}#}
                            {#                                <tr>#}
                            {#                                    <td>{{ d.device }}</td>#}
                            {#                                    <td>{{ d.time }}</td>#}
                            {#                                    <td>{{ d.speed }}</td>#}
                            {#                                    <td>{{ d.direction }}</td>#}
                            {#                                    <td>{{ d.level }}</td>#}
                            {#                                    <td>{{ d.flow }}</td>#}
                            {#                                    <td>{{ d.acreage }}</td>#}
                            {#                                    <td>{{ d.power }}</td>#}
                            {#                                    <td>查看详情</td>#}
                            {#                                </tr>#}
                            {#                            {% endfor %}#}
                            <tr>
                                <td>1号ADCP</td>
                                <td>2019-12-12 15:30:00</td>
                                <td>0.64</td>
                                <td>16.23</td>
                                <td>3.03</td>
                                <td></td>
                                <td></td>
                                <td>14.39</td>
                                <td>
                                    <a href="{% url 'device_data' 1 %}" style="text-decoration:none">
                                        <button type="button" class="btn btn-primary btn-sm" style="line-height: 1">
                                            查看详情
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2号ADCP</td>
                                <td>2019-12-12 15:35:00</td>
                                <td>0.64</td>
                                <td>31.69</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="{% url 'device_data' 2 %}" style="text-decoration:none">
                                        <button type="button" class="btn btn-primary btn-sm" style="line-height: 1">
                                            查看详情
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3号ADCP</td>
                                <td>2019-12-12 15:40:00</td>
                                <td>0.35</td>
                                <td>76.46</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>14.22</td>
                                <td>
                                    <a href="{% url 'device_data' 3 %}" style="text-decoration:none">
                                        <button type="button" class="btn btn-primary btn-sm" style="line-height: 1">
                                            查看详情
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>断面平均</td>
                                <td>2019-12-12 15:40:00</td>
                                <td></td>
                                <td></td>
                                <td>2.990</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div>#}
    {#        <img src="{% static 'images/ChartImg (1).png' %}" alt="">#}
    {#    </div>#}
    <div id="main" style="width: 1200px;height: 400px;margin: 0 auto;"></div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script>
        $(function () {
            reloadDatatables();
            {#total_nums();#}
        });
        var reloadDatatables = function () {
            {#console.log('触发了');#}
            var tables = $('#dataTable').DataTable({
                select: 'single',
                destroy: true,
                'bAutoWidth': false,
                "pagingType": "full_numbers",
                "language": {
                    "decimal": "",
                    "info": "",
                    "infoEmpty": "没有数据",
                    "emptyTable": "没有数据",
                    "infoFiltered": "(从总数 _MAX_ 条中 过滤)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "loadingRecords": "加载中...",
                    "processing": "处理中...",
                    "search": "搜索:",
                    "zeroRecords": "没有搜索到数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "下一页",
                        "previous": "上一页"
                    },
                    "aria": {
                        "sortAscending": ": 点击以按升序排序",
                        "sortDescending": ": 点击以按降序排序"
                    }
                },
                "autoWidth": false,	//禁用自动调整列宽
                "processing": true,//载入数据的时候是否显示“载入中”
                "searching": false,//去掉搜索框
                "deferRender": true,
                'paging': false,  //关闭分页
            });
        };
    </script>
    <script>
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                    toolbox: {
                        show: true,
                        feature: {
                            saveAsImage: {
                                show: true,
                                excludeComponents:
                                    ['toolbox'],
                                title:
                                    "导出",
                                pixelRatio:
                                    2
                            }
                        }
                    },
                    color: ["#032ddc", "#671500"],
                    title:
                        {
                            text: ''
                        }
                    ,
                    tooltip: {}
                    ,
                    legend: {
                        data: ['流量', '水位']
                    }
                    ,
                    grid: {
                        //left: '10%',
                        //bottom: '25%',
                        //right: '1%'
                        containLabel: true
                    }
                    ,
                    xAxis:
                        {
                            //网格样式
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    width: 1,
                                    type: 'dashed'
                                }
                            },
                            boundaryGap: false,
                            nameGap: 30,
                            name: '时间',
                            nameLocation: "center",
                            nameTextStyle: {
                                color: "#000",
                                //fontSize: 18,
                                //fontFamily: "微软雅黑"
                            },
                            type: 'category',
                            data: [
                                "12-16 15:20", "12-16 15:30", "12-16 15:40", "12-16 15:50", "12-16 16:00", "12-16 16:10",
                                "12-16 16:40", "12-16 16:50", "12-16 17:00", "12-16 17:10", "12-16 17:20", "12-16 17:30",
                                "12-16 18:50", "12-16 19:00", "12-16 19:10", "12-16 19:20", "12-16 19:30", "12-16 19:40",
                                "12-16 19:50", "12-16 20:00", "12-16 20:10", "12-16 20:20", "12-16 20:30", "12-16 20:40",
                                "12-16 20:50", "12-16 21:00", "12-16 21:10", "12-16 21:20", "12-16 21:30", "12-16 21:40",
                                "12-16 21:50", "12-16 22:10", "12-16 22:20", "12-16 22:30", "12-16 22:40", "12-16 22:50",
                                "12-16 23:00", "12-16 23:10"],
                            axisLabel: {
                                color: "#000",
                                {#showMinLabel: true,#}
                                {#showMaxLabel: true#}
                            }
                            ,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ,
                    yAxis: [
                        {
                            //网格样式
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    width: 1,
                                    type: 'dashed'
                                }
                            },
                            splitNumber: 5,
                            boundaryGap: false,
                            name: '水位（m）',
                            nameLocation: "center",
                            type: 'value',
                            nameGap: 30,
                            nameTextStyle: {
                                fontSize: 14
                            },
                            //data: [0, 0.8, 1.6, 2.4, 3.2 ,4.0],
                        },
                        {
                            //网格样式
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    width: 1,
                                    type: 'dashed'
                                }
                            },
                            splitNumber: 5,
                            boundaryGap: false,
                            name: '流量（m³/s）',
                            nameLocation: "center",
                            position: "right",
                            type: 'value',
                            nameGap: 60,
                            nameTextStyle: {
                                fontSize: 14
                            },
                            //data: [0, 0.8, 1.6, 2.4, 3.2 ,4.0],
                        }
                    ],
                    dataZoom: [],
                    series:
                        [
                            {
                                yAxisIndex: 1,
                                name: "流量",
                                type: "line",
                                data: [
                                    "17541", "16397", "17534", "18215", "17977", "17676", "17324", "17264", "18099",
                                    "17659", "17019", "17410", "18336", "19030", "20776", "20735", "17784", "19564",
                                    "19482", "18189", "19306", "18331", "17724", "15619", "13814", "11842", "8955",
                                    "8519", "4405", "2928", "-1181", "-4030", "-3676", "-4283", "-5390", "-5859", "-5582", "-5835",
                                ]
                            },
                            {
                                yAxisIndex: 0,
                                name: "水位",
                                type: "line",
                                data: [
                                    "3.46", "3.44", "3.42", "3.41", "3.38", "3.36", "3.31", "3.29", "3.27", "3.25",
                                    "3.23", "3.21", "3.06", "3.05", "3.03", "3.01", "2.99", "2.98", "2.98", "2.96",
                                    "2.96", "2.96", "2.99", "3.04", "3.14", "3.26", "3.39", "3.53", "3.66", "3.78",
                                    "3.86", "3.98", "4.02", "4.07", "4.11", "4.15", "4.18", "4.20",
                                ]
                            },
                        ]


                }
            ;
            // 使用刚指定的配置项和数据显示图表。
            //myChart.showLoading();
            myChart.setOption(option);

        })
    </script>
{% endblock %}