{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
    设备数据
{% endblock %}
{% block topbar_title %}
    设备数据
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .input-card .btn {
            margin-right: 1.2rem;
            width: 9rem;
        }

        .input-card .btn-sm {
            margin-right: 1.2rem;
            width: 3.5rem;
        }

        .input-card .btn:last-child {
            margin-right: 0;
        }
    </style>
    <style>
        body, td {
            font-size: 12px !important
        }

        th, td {
            white-space: normal;
        }

        thead > tr > th {
            white-space: nowrap;
        }

        .btn {
            white-space: nowrap;
            line-height: 1;
            font-size: 12px !important;
        }
    </style>
{% endblock %}

{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:13px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'data_info' station_id %}">流量信息</a></li>
            <li class="breadcrumb-item active">设备数据</li>
        </ol>
        <!-- Page Heading -->

        <form action="" method="post" id="filterDataForm">
            <p>
                日期选项：
                <input type="text" class="" id="date_time0" name="start_time" value="{{ start_time }}">
                &nbsp;至 &nbsp;
                <input type="text" class="" id="date_time1" name="end_time" value="{{ end_time }}">
                &nbsp;
            </p>

            <p>
                样本导航：
                <select name="station_id" class="address selectpicker" id="station_id">
                    {#                    {% for i in times %}#}
                    {#                        <option value="{{ i.id }}">{{ i.station_name }}</option>#}
                    {#                    {% endfor %}#}
                    <option value="2019-12-12 15:00:00">2019-12-12 15:00:00</option>
                    <option value="2019-12-12 15:10:00">2019-12-12 15:10:00</option>
                    <option value="2019-12-12 15:20:00">2019-12-12 15:20:00</option>
                    <option value="2019-12-12 15:30:00">2019-12-12 15:30:00</option>
                    <option value="2019-12-12 15:40:00">2019-12-12 15:40:00</option>
                    <option value="2019-12-12 15:50:00" selected>2019-12-12 15:50:00</option>
                </select>
            </p>

            <p></p>
            {% csrf_token %}
            <p id="all_button">
                <a>
                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                </a>
                <a href="" style="text-decoration:none">
                    <button type="button" class="btn btn-primary btn-sm">重置</button>
                </a>
            </p>
        </form>
        <strong>仪器名称：1号ADCP 仪器编号：60100001 仪器类型：走航式ADCP</strong>

        <p></p>
        <div id="div_content">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="alert" style="display: none;"></div>
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                            <tr>
                                <th>水位(m)</th>
                                <th>流速(m/s)</th>
                                <th>流向(° )</th>
                            </tr>
                            </thead>
                            <tbody id="t_body">
                            {#                            {% for d in data_info %}#}
                            {#                                <tr>#}
                            {#                                    <td>{{ d.device }}</td>#}
                            {#                                    <td>{{ d.time }}</td>#}
                            {#                                    <td>{{ d.speed }}</td>#}
                            {#                                    <td>{{ d.direction }}</td>#}
                            {#                                    <td>{{ d.level }}</td>#}
                            {#                                    <td>{{ d.flow }}</td>#}
                            {#                                    <td>{{ d.acreage }}</td>#}
                            {#                                    <td>{{ d.power }}</td>#}
                            {#                                    <td>查看详情</td>#}
                            {#                                </tr>#}
                            {#                            {% endfor %}#}
                            <tr>
                                <td>1.68</td>
                                <td>0.781</td>
                                <td>8.370</td>
                            </tr>
                            <tr>
                                <td>2.18</td>
                                <td>0.774</td>
                                <td>6.420</td>
                            </tr>
                            <tr>
                                <td>2.68</td>
                                <td>0.752</td>
                                <td>6.620</td>
                            </tr>
                            <tr>
                                <td>3.18</td>
                                <td>0.733</td>
                                <td>9.260</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" style="width: 800px;height: 400px;"></div>
    </div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    {#    <script type="text/javascript">#}
    {#        $(function () {#}
    {#            // 基于准备好的dom，初始化echarts实例#}
    {#            var myChart = echarts.init(document.getElementById('main'));#}
    {##}
    {#            // 指定图表的配置项和数据#}
    {#console.log({{ all_address|safe }});#}
    {#console.log({{ all_address_count|safe }});#}
    {#            var option = {#}
    {#                    toolbox: {#}
    {#                        show: true,#}
    {#                        feature: {#}
    {##}
    {#                            saveAsImage: {#}
    {#                                show: true,#}
    {#                                excludeComponents:#}
    {#                                    ['toolbox'],#}
    {#                                title:#}
    {#                                    "导出",#}
    {#                                pixelRatio:#}
    {#                                    2#}
    {#                            }#}
    {#                        }#}
    {#                    },#}
    {#                    color: ['#05599E', '#000000'],#}
    {#                    title:#}
    {#                        {#}
    {#                            text: '水文大断面'#}
    {#                        }#}
    {#                    ,#}
    {#                    tooltip: {}#}
    {#                    ,#}
    {#                    legend: {#}
    {#                        data: ['河底高程(m)'],#}
    {##}
    {#                    }#}
    {#                    ,#}
    {#                    grid: {#}
    {#                        left: '10%',#}
    {#                        bottom: '25%',#}
    {#                        right: '5%'#}
    {#containLabel: true#}
    {#                    }#}
    {#                    ,#}
    {#                    xAxis: {#}
    {#show: false,#}
    {#                        boundaryGap: false,#}
    {#                        name:'起点距（m）',#}
    {#                        nameLocation: "center",#}
    {#                        type: 'category',#}
    {#                        nameGap: 40,#}
    {#                        nameTextStyle: {#}
    {#                          fontSize: 15#}
    {#                        },#}
    {#                       data: [0, 1, 2, 3, 4],#}
    {#                        axisLabel: {}#}
    {#                        ,#}
    {#                        axisTick: {#}
    {#                            alignWithLabel: true#}
    {#                        }#}
    {#                    },#}
    {#                    yAxis: {#}
    {#                        name:'河底高程（m）',#}
    {#                        nameLocation: "center",#}
    {#                        type: 'value',#}
    {#                        nameGap: 40,#}
    {#                        nameTextStyle: {#}
    {#                          fontSize: 15#}
    {#                        },#}
    {#                    }#}
    {#                    ,#}
    {#                    series: [#}
    {#                        {#}
    {#                            //name: '河底高程(m)',#}
    {#                            type: 'line',#}
    {#                            //smooth: true,//平滑曲线#}
    {#                            //symbol: 'none',  //取消折点圆圈#}
    {#                            data: [0, 1, 2, 3, 4],#}
    {#                            //areaStyle: {},#}
    {##}
    {#                        },#}
    {##}
    {#                    ]#}
    {#                }#}
    {#           ;#}
    {#            // 使用刚指定的配置项和数据显示图表。#}
    {#            myChart.setOption(option);#}
    {#myChart.showLoading();#}
    {##}
    {#        })#}
    {#    </script>#}
    <script>
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                    toolbox: {
                        show: true,
                        feature: {
                            saveAsImage: {
                                show: true,
                                excludeComponents:
                                    ['toolbox'],
                                title:
                                    "导出",
                                pixelRatio:
                                    2
                            }
                        }
                    },
                    color: ["#000", "#032ddc",],
                    title:
                        {
                            text: ''
                        }
                    ,
                    tooltip: {}
                    ,
                    legend: {
                        data: ['流速', '流向']
                    }
                    ,
                    grid: {
                        //left: '10%',
                        //bottom: '25%',
                        //right: '1%'
                        {#containLabel: true#}
                    }
                    ,
                    xAxis: [
                        {
                            axisLine: {
                                show: true
                            },
                            boundaryGap: false,
                            name: '流向（°）',
                            nameLocation: "end",
                            nameTextStyle: {
                                color: "#032ddc",
                                //fontSize: 18,
                                //fontFamily: "微软雅黑"
                            },
                            type: 'value',
                            max: 360,
                            mix: 0,
                            maxInterval: 72,
                            minInterval: 72,
                            splitNumber: 5,
                            data: [0, 72, 144, 216, 288, 360],
                            axisLabel: {
                                interval: 0,
                                rotate: 0,
                                color: "#032ddc",
                            }
                            ,
                            axisTick: {
                                alignWithLabel: true
                            }
                        },
                        //x轴显示两组数据  第2个X轴
                        {
                            axisLine: {
                                show: true
                            },
                            max: 4,
                            mix: 0,
                            maxInterval: 0.8,
                            minInterval: 0.8,
                            splitNumber: 5,
                            boundaryGap: false,
                            type: 'value',
                            position: "top",
                            //offset: 80,
                            name: '流速（m/s）',
                            nameLocation: "end",
                            nameTextStyle: {
                                color: "#000",
                                //fontSize: 18,
                                //fontFamily: "微软雅黑"
                            },
                            //nameGap: 35,
                            data: [0, 0.8, 1.6, 2.4, 3.2, 4],
                            axisLabel: {
                                interval: 0,
                                rotate: 0,
                                color: "#000",
                            }
                            ,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: {
                        boundaryGap: false,
                        name: '水深（m）',
                        nameLocation: "center",
                        type: 'category',
                        nameGap: 40,
                        nameTextStyle: {
                            fontSize: 14
                        },
                        inverse: true,
                        data: [24.68, 24.18, 23.68, 23.18, 22.68, 22.18, 21.68, 21.18, 20.68, 20.18, 19.68, 19.18, 18.68,
                            18.18, 17.68, 17.18, 16.68, 16.18, 15.68, 15.18, 14.68, 14.18, 13.68, 13.18, 12.68, 12.18,
                            11.68, 11.18, 10.68, 10.18, 9.68, 9.18, 8.68, 8.18, 7.68, 7.18, 6.68, 6.18, 5.68, 5.18,
                            4.68, 4.18, 3.68, 3.18, 2.68, 2.18, 1.68],
                    },
                    dataZoom: [],
                    series: [
                        {
                            xAxisIndex: 1,
                            name: "流速",
                            type: "line",
                            data: [0.781, 0.807, 0.774, 0.816, 0.784, 0.812, 0.793, 0.803, 0.789, 0.795, 0.796, 0.754,
                                0.752, 0.781, 0.792, 0.751, 0.749, 0.756, 0.757, 0.720, 0.727, 0.749, 0.736, 0.701,
                                0.701, 0.692, 0.680, 0.651, 0.623, 0.640, 0.635, 0.588, 0.615, 0.564, 0.542, 0.516, 0.503,
                                0.488, 0.471, 0.464, 0.470, 0.494, 0.496, 0.464, 0.336, 0.150, 0.064, ]
                        },
                        {
                            xAxisIndex: 0,
                            name: "流向",
                            type: "line",
                            data: [8.370, 8.240, 9.980, 6.860, 5.800, 8.480, 8.320, 8.880, 7.690, 7.630, 6.370, 8.690,
                                8.090, 6.720, 6.920, 7.780, 6.620, 5.560, 8.800, 10.260, 7.800, 6.550, 6.180, 4.660,
                                4.410, 5.910, 3.090, 4.220, 4.600, 1.370, 3.870, 1.990, 1.050, 1.450, 4.330, 2.390, 1.870,
                                0.360, 358.630, 3.430, 7.780, 3.570, 3.550, 5.330, 9.430, 7.070, 86.700, ]
                        },
                    ]
                }
            ;
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            {#myChart.showLoading();#}

        })
    </script>
    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#date_time0',
            type: 'datetime'
        });
        laydate.render({
            elem: '#date_time1',
            type: 'datetime'
        });
    </script>
    <script>
        $(function () {
            reloadDatatables();
            {#total_nums();#}
        });
        var reloadDatatables = function () {
            {#console.log('触发了');#}
            var tables = $('#dataTable').DataTable({
                select: 'single',
                destroy: true,
                'bAutoWidth': false,
                "pagingType": "full_numbers",
                "language": {
                    "decimal": "",
                    "info": "",
                    "infoEmpty": "没有数据",
                    "emptyTable": "没有数据",
                    "infoFiltered": "(从总数 _MAX_ 条中 过滤)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "loadingRecords": "加载中...",
                    "processing": "处理中...",
                    "search": "搜索:",
                    "zeroRecords": "没有搜索到数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "下一页",
                        "previous": "上一页"
                    },
                    "aria": {
                        "sortAscending": ": 点击以按升序排序",
                        "sortDescending": ": 点击以按降序排序"
                    }
                },
                "autoWidth": false,	//禁用自动调整列宽
                "processing": true,//载入数据的时候是否显示“载入中”
                "searching": false,//去掉搜索框
                "deferRender": true,
                //'paging': false,  //关闭分页
            });
        };
    </script>
{% endblock %}