{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
    设备数据
{% endblock %}
{% block topbar_title %}
    设备数据
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .input-card .btn {
            margin-right: 1.2rem;
            width: 9rem;
        }

        .input-card .btn-sm {
            margin-right: 1.2rem;
            width: 3.5rem;
        }

        .input-card .btn:last-child {
            margin-right: 0;
        }
    </style>
    <style>
        body, td {
            font-size: 12px !important
        }

        th, td {
            white-space: normal;
        }

        thead > tr > th {
            white-space: nowrap;
        }

        .btn {
            white-space: nowrap;
            line-height: 1;
            font-size: 12px !important;
        }
    </style>
{% endblock %}

{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:13px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'data_info' station_id %}">流量信息</a></li>
            <li class="breadcrumb-item active">设备数据</li>
        </ol>
        <!-- Page Heading -->

        <form action="" method="post" id="filterDataForm">
            <p>
                日期选项：
                <input type="text" class="" id="date_time0" name="start_time" value="{{ start_time }}">
                &nbsp;至 &nbsp;
                <input type="text" class="" id="date_time1" name="end_time" value="{{ end_time }}">
                &nbsp;
            </p>

            <p>
                样本导航：
                <select name="time" class="address selectpicker" id="time">
                    {% for i in time_list %}
                        <option value="{{ i }}" {% if i == last_time %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>

            <p></p>
            {% csrf_token %}
            <p id="all_button">
                <a>
                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                </a>
                <a href="" style="text-decoration:none">
                    <button type="button" class="btn btn-primary btn-sm">重置</button>
                </a>
            </p>
        </form>
        <strong style="font-size: 15px; color: black">仪器名称：{{ device.name }} 仪器编号：{{ device.device_id }} 仪器类型：{{ device.device_type }}</strong>

        <p></p>
        {% if valid_time_list %}
        <div id="main2" style="width: 1200px;height: 400px;margin: 0 auto;"></div>
        {% endif %}
        <div id="div_content">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="alert" style="display: none;"></div>
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                            <tr>
                                <th>水深(m)</th>
                                <th>流速(m/s)</th>
                                <th>流向(° )</th>
                            </tr>
                            </thead>
                            <tbody id="t_body">
                            {% for d in data_info %}
                                <tr>
                                    <td>{{ d.depth }}</td>
                                    <td>{{ d.speed }}</td>
                                    <td>{{ d.direction }}</td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" style="width: 800px;height: 400px;margin: 0 auto;"></div>
    </div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script>
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                    toolbox: {
                        show: true,
                        feature: {
                            saveAsImage: {
                                show: true,
                                excludeComponents:
                                    ['toolbox'],
                                title:
                                    "导出",
                                pixelRatio:
                                    2
                            }
                        }
                    },
                    color: ["#000", "#032ddc",],
                    title:
                        {
                            text: ''
                        }
                    ,
                    tooltip: {}
                    ,
                    legend: {
                        data: ['流速', '流向']
                    }
                    ,
                    grid: {
                        //left: '10%',
                        //bottom: '25%',
                        //right: '1%'
                        {#containLabel: true#}
                    }
                    ,
                    xAxis: [
                        {
                            axisLine: {
                                show: true
                            },
                            boundaryGap: false,
                            name: '流向（°）',
                            nameLocation: "end",
                            nameTextStyle: {
                                color: "#032ddc",
                                //fontSize: 18,
                                //fontFamily: "微软雅黑"
                            },
                            type: 'value',
                            max: 360,
                            mix: 0,
                            maxInterval: 72,
                            minInterval: 72,
                            splitNumber: 5,
                            data: [0, 72, 144, 216, 288, 360],
                            axisLabel: {
                                interval: 0,
                                rotate: 0,
                                color: "#032ddc",
                            }
                            ,
                            axisTick: {
                                alignWithLabel: true
                            }
                        },
                        //x轴显示两组数据  第2个X轴
                        {
                            axisLine: {
                                show: true
                            },
                            max: 4,
                            mix: 0,
                            maxInterval: 0.8,
                            minInterval: 0.8,
                            splitNumber: 5,
                            boundaryGap: false,
                            type: 'value',
                            position: "top",
                            //offset: 80,
                            name: '流速（m/s）',
                            nameLocation: "end",
                            nameTextStyle: {
                                color: "#000",
                                //fontSize: 18,
                                //fontFamily: "微软雅黑"
                            },
                            //nameGap: 35,
                            data: [0, 0.8, 1.6, 2.4, 3.2, 4],
                            axisLabel: {
                                interval: 0,
                                rotate: 0,
                                color: "#000",
                            }
                            ,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: {
                        boundaryGap: false,
                        name: '水深（m）',
                        nameLocation: "center",
                        type: 'category',
                        nameGap: 40,
                        nameTextStyle: {
                            fontSize: 14
                        },
                        inverse: true,
                        data: {{ depth_list|safe }},
                    },
                    dataZoom: [],
                    series: [
                        {
                            xAxisIndex: 1,
                            name: "流速",
                            type: "line",
                            data: {{ speed_list|safe }}
                        },
                        {
                            xAxisIndex: 0,
                            name: "流向",
                            type: "line",
                            data: {{ direction_list|safe }}
                        },
                    ]
                }
            ;
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            {#myChart.showLoading();#}

        })
    </script>
    <script>
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main2'));
            var option = {
                    toolbox: {
                        show: true,
                        feature: {
                            saveAsImage: {
                                show: true,
                                excludeComponents:
                                    ['toolbox'],
                                title:
                                    "导出",
                                pixelRatio:
                                    2
                            }
                        }
                    },
                    color: ["#000", "#032ddc",],
                    title:
                        {
                            text: ''
                        }
                    ,
                    tooltip: {}
                    ,
                    legend: {
                        data: ['平均流速', '平均流向']
                    }
                    ,
                    grid: {
                        //left: '10%',
                        //bottom: '25%',
                        //right: '1%'
                        containLabel: true
                    }
                    ,
                    xAxis:
                        {
                            boundaryGap: false,
                            nameGap: 30,
                            name: '时间',
                            nameLocation: "center",
                            nameTextStyle: {
                                color: "#000",
                                //fontSize: 18,
                                //fontFamily: "微软雅黑"
                            },
                            type: 'category',
                            data: {{ valid_time_list|safe }},
                            axisLabel: {
                                color: "#000",
                                {#showMinLabel: true,#}
                                {#showMaxLabel: true#}
                            }
                            ,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ,
                    yAxis: [
                        {
                            max: 4,
                            mix: 0,
                            maxInterval: 0.8,
                            minInterval: 0.8,
                            splitNumber: 5,
                            boundaryGap: false,
                            name: '平均流速（m/s）',
                            nameLocation: "center",
                            type: 'value',
                            nameGap: 30,
                            nameTextStyle: {
                                fontSize: 14
                            },
                            //data: [0, 0.8, 1.6, 2.4, 3.2 ,4.0],
                        },
                        {
                            max: 360,
                            mix: 0,
                            maxInterval: 60,
                            minInterval: 60,
                            splitNumber: 5,
                            boundaryGap: false,
                            name: '平均流向（°）',
                            nameLocation: "center",
                            position: "right",
                            type: 'value',
                            nameGap: 60,
                            nameTextStyle: {
                                fontSize: 14
                            },
                            //data: [0, 0.8, 1.6, 2.4, 3.2 ,4.0],
                        }
                    ],
                    dataZoom: [],
                    series:
                        [
                            {
                                yAxisIndex: 0,
                                name: "平均流速",
                                type: "line",
                                data: {{ valid_avg_speed_list|safe }}
                            },
                            {
                                yAxisIndex: 1,
                                name: "平均流向",
                                type: "line",
                                data: {{ valid_avg_direction_list|safe }}
                            },
                        ]


                }
            ;
            // 使用刚指定的配置项和数据显示图表。
            //myChart.showLoading();
            myChart.setOption(option);

        })
    </script>
    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#date_time0',
            type: 'datetime'
        });
        laydate.render({
            elem: '#date_time1',
            type: 'datetime'
        });
    </script>
    <script>
        $(function () {
            reloadDatatables();
            {#total_nums();#}
        });
        var reloadDatatables = function () {
            {#console.log('触发了');#}
            var tables = $('#dataTable').DataTable({
                select: 'single',
                destroy: true,
                'bAutoWidth': false,
                "pagingType": "full_numbers",
                "language": {
                    "decimal": "",
                    "info": "",
                    "infoEmpty": "没有数据",
                    "emptyTable": "没有数据",
                    "infoFiltered": "(从总数 _MAX_ 条中 过滤)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "loadingRecords": "加载中...",
                    "processing": "处理中...",
                    "search": "搜索:",
                    "zeroRecords": "没有搜索到数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "下一页",
                        "previous": "上一页"
                    },
                    "aria": {
                        "sortAscending": ": 点击以按升序排序",
                        "sortDescending": ": 点击以按降序排序"
                    }
                },
                "autoWidth": false,	//禁用自动调整列宽
                "processing": true,//载入数据的时候是否显示“载入中”
                "searching": false,//去掉搜索框
                "deferRender": true,
                //'paging': false,  //关闭分页
            });
        };
    </script>
{% endblock %}