<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>水文在线监测管理系统 - 登录</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {#  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">#}

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block"
                             style="background: url({% static 'images/test2.jpg' %});background-position: center;background-size: cover;"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static 'images/favicon.ico' %}" alt="">
                                    <h1 class="h4 text-gray-900 mb-4">欢迎使用水文在线监测管理系统！</h1>
                                </div>
                                <form class="user" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="exampleInputEmail" aria-describedby="emailHelp"
                                               placeholder="请输入账号..." name="username" value="{{ username }}">
                                        <div style="color: red">
                                            {% for key,error in login_form.errors.items %}{% if key == 'username' %}
                                                {{ error }}{% endif %}
                                            {% endfor %}</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="exampleInputPassword" placeholder="请输入密码..." name="password"
                                        value="{{ password }}">
                                        <div style="color: red">
                                            {% for key,error in login_form.errors.items %}{% if key == 'password' %}
                                                {{ error }}{% endif %}
                                            {% endfor %}</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" name="remember" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">记住密码</label>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="立即登录">
                                    <hr>
                                    {% csrf_token %}
                                </form>
                                <div style="color: red">{% if msg %}{{ msg }}
                                    <hr>{% endif %}</div>
                                <div class="text-center">
                                    如果您忘记原密码，请联系管理员重置您的密码！
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'index' %}">回到首页</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
