{% extends 'blank.html' %}
{% load staticfiles %}
{% block title %}
    大断面
{% endblock %}
{% block topbar_title %}
    大断面
{% endblock %}
{% block other_css %}
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
    <style type="text/css">
        input[id="section_text"] {
            padding: 3px 6px;
            padding-left: 10px;
            border: 1px solid #E7EAEC;
            width: 200px;
            height: 25px;
            line-height: 25px;
            border-left: 3px solid #3FB7EB;
            background: #FAFAFB;
            border-radius: 2px;
        }

        input[type='file'] {
            border: 0;
            display: none;
        }
    </style>
{% endblock %}
{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:14px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'station_info' %}">测站点管理</a></li>
            <li class="breadcrumb-item active">大断面</li>
        </ol>
        <div>
            <a href="{% url 'station_index' station_info.id %}" style="text-decoration:none">
                <button class="btn btn-primary">&nbsp;基本信息&nbsp;</button>
            </a>
            &nbsp;&nbsp;
            <a href="{% url 'station_section' station_info.id %}" style="text-decoration:none">
                <button class="btn btn-primary">&nbsp;大断面&nbsp;&nbsp;</button>
            </a>
            &nbsp;&nbsp;
            <a href="{% url 'station_devices' station_info.id %}" style="text-decoration:none">
                <button class="btn btn-primary">&nbsp;设备管理&nbsp;</button>
            </a>
        </div>
        <!--<div id="main" style="width: auto;height: 600px;"></div>-->
        <div>
            {% if section_image %}
                <img src="{{ section_image }}" alt="">
            {% endif %}
        </div>
        <div>
                   
            <form method="post" enctype="multipart/form-data" id="imageForm">
                <p>
                    {#                    <input type="hidden" name="station_id" value="{{ station_info.id }}"/>#}
                    <label for="remarks">文件备注：</label>
                    <input type="text" value="{{ station_info.section.remarks }}" style="width: 200px;" name="remarks">
                </p>

                <p>
                    <label for="mark_line">水位高程：</label>
                    <input type="text" value="{{ station_info.section.mark_line }}" style="width: 200px;"
                           name="mark_line">
                </p>

                <p>
                    <label for="date_time">实测时间：</label>
                    <input type="text" id="date_time" style="width: 200px;" value="{{ station_info.section.time }}"
                           name="time">
                </p>

                <p>
                    <label for="section_text">数据文件：</label>
                    <input type="text" id="section_text" placeholder="请选择文件···" readonly="readonly"
                           style="vertical-align: middle;" value="{{ station_info.section.section }}"/>
                    <input type="file" name="section" id="section" required/>
                </p>
                {% csrf_token %}
                <p>
                    <button class="btn btn-info" >&nbsp;绘制&nbsp;</button>
                </p>
            </form>
{#            <p>#}
{#                <button class="btn btn-info" id="drawImage">&nbsp;绘制&nbsp;</button>#}
{#            </p>#}
        </div>
    </div>

{% endblock %}

{% block other_js %}
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script type="text/javascript">
        //$(function () {
        //    // 基于准备好的dom，初始化echarts实例
        //    var myChart = echarts.init(document.getElementById('main'));
        //
        //    // 指定图表的配置项和数据
        //    {#console.log({{ all_address|safe }});#}
        //    {#console.log({{ all_address_count|safe }});#}
        //    var option = {
        //            toolbox: {
        //                show: true,
        //                feature: {
        //
        //                    saveAsImage: {
        //                        show: true,
        //                        excludeComponents:
        //                            ['toolbox'],
        //                        title:
        //                            "导出",
        //                        pixelRatio:
        //                            2
        //                    }
        //                }
        //            },
        //            color: ['#611E03'],
        //            title:
        //                {
        //                    text: '水文大断面'
        //                }
        //            ,
        //            tooltip: {}
        //            ,
        //            legend: {
        //                data: ['河底高程(m)'],
        //
        //            }
        //            ,
        //            grid: {
        //                left: '10%',
        //                bottom: '25%',
        //                right: '5%'
        //                {#containLabel: true#}
        //            }
        //            ,
        //            xAxis: {
        //                {#show: false,#}
        //                boundaryGap: false,
        //                name:'起点距（m）',
        //                nameLocation: "center",
        //                type: 'category',
        //                nameGap: 40,
        //                nameTextStyle: {
        //                  fontSize: 15
        //                },
        //               data: {{ x_data|safe }},
        //                axisLabel: {}
        //                ,
        //                axisTick: {
        //                    alignWithLabel: true
        //                }
        //            },
        //            yAxis: {
        //                name:'河底高程（m）',
        //                nameLocation: "center",
        //                type: 'value',
        //                nameGap: 40,
        //                nameTextStyle: {
        //                  fontSize: 15
        //                },
        //            }
        //            ,
        //            series: [
        //                {
        //                    //name: '河底高程(m)',
        //                    type: 'line',
        //                    smooth: true,//平滑曲线
        //                    symbol: 'none',  //取消折点圆圈
        //                    data: {{ y_data|safe }},
        //                    areaStyle: {},
        //                    markLine: {
        //                        symbol:'none',//去掉箭头
        //                        silent: true,
        //                        lineStyle: {
        //                            color: '#0077FE',                   // 这儿设置安全基线颜色
        //                            type: "solid",
        //                        },
        //                        data: [
        //                            {
        //                                name: 'Y 轴值为 100 的水平线',
        //                                yAxis: 20
        //                            },
        //                        ],
        //                        label: {
        //                            position: 'middle',
        //                            formatter: '水位线'           // 这儿设置安全基线
        //                        },
        //                    },
        //
        //                },
        //
        //            ]
        //        }
        //   ;
        //    // 使用刚指定的配置项和数据显示图表。
        //    myChart.setOption(option);
        //    {#myChart.showLoading();#}
        //
        //})
    </script>

    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#date_time',
            type: 'datetime'
        });
        laydate.render({
            elem: '#date_time1',
            type: 'datetime'
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#section_text").click(function () {
                $("input[type='file']").trigger('click');
            });
            $("input[type='file']").change(function () {
                $("#section_text").val($(this).val());
            });
        });
        $('#drawImage').on('click', function () {
            $.ajax({
                cache: false,
                type: 'post',
                dataType: 'json',
                url: "{% url 'station_section' station_info.id %}",
                data: $("#imageForm").serialize(),
                async: true,
                success: function (data) {
                    if (data.status === "success") {
                        alert('绘制成功');
                        window.location.replace("{% url 'station_section' station_info.id %}")
                    } else {
                        alert(data.msg)
                    }
                }
            })
        })
    </script>
{% endblock %}